<p>

    <i class="material-icons"
       (click)="go(-1)">arrow_left</i>


    <span>
        {{ dateService.date | async | moment }}
    </span>


    <i class="material-icons"
       (click)="go(1)">arrow_right</i>

</p>
